<!-- wp:group {"tagName":"main","align":"full","className":"wpz-header-cover site-content","style":{"spacing":{"margin":{"top":"0"}}},"backgroundColor":"foreground","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull wpz-header-cover site-content has-foreground-background-color has-background" id="header" style="margin-top:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"black","isUserOverlayColor":true,"focalPoint":{"x":0.5,"y":0.5},"isDark":false,"align":"full","className":"is-style-default","style":{"spacing":{"padding":{"top":"0px"}}}} -->
<div class="wp-block-cover alignfull is-light is-style-default" style="padding-top:0px"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header-transparent"} /-->

<!-- wp:group {"className":"is-style-default","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-default"><!-- wp:spacer {"height":"251px"} -->
<div style="height:251px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /-->

<!-- wp:group {"className":"post-meta","style":{"spacing":{"blockGap":"5px","margin":{"bottom":"30px"}},"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group post-meta has-white-color has-text-color has-link-color" style="margin-bottom:30px"><!-- wp:post-date /-->

<!-- wp:paragraph {"style":{"color":{"text":"#ffffff59"},"spacing":{"margin":{"right":"10px","left":"10px"}}},"fontSize":"x-small"} -->
<p class="has-text-color has-x-small-font-size" style="color:#ffffff59;margin-right:10px;margin-left:10px">/</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true} /-->

<!-- wp:paragraph {"style":{"color":{"text":"#ffffff59"},"spacing":{"margin":{"right":"10px","left":"10px"}}},"fontSize":"x-small"} -->
<p class="has-text-color has-x-small-font-size" style="color:#ffffff59;margin-right:10px;margin-left:10px">/</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"33px"} -->
<div style="height:33px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"tagName":"main","className":"site-content","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"80px"}}}} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:0;padding-bottom:80px"><!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>In:</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:post-terms {"term":"post_tag"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","tagName":"section","className":"site-comments"} /--></main>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%" id="sidebar"><!-- wp:template-part {"slug":"sidebar","area":"uncategorized"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->