<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0"}}},"backgroundColor":"foreground","className":"site-content","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull wpz-header-cover site-content has-foreground-background-color has-background" id="header" style="margin-top:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"black","focalPoint":{"x":0.47,"y":0.49},"align":"full","className":"is-style-default","style":{"spacing":{"padding":{"top":"0px"}}}} -->
<div class="wp-block-cover alignfull is-style-default" style="padding-top:0px"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:template-part {"slug":"header-transparent","theme":"inspiro-blocks"} /-->

<!-- wp:group {"className":"is-style-default","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-default"><!-- wp:spacer {"height":"251px"} -->
<div style="height:251px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}}},"textColor":"white"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"33px"} -->
<div style="height:33px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"0","bottom":"80px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;padding-top:0;padding-bottom:80px"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"inspiro-blocks","tagName":"footer","className":"site-footer"} /-->